<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"" />
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
  <style>
    .table-container {
      overflow-x: auto;
    }
  </style>
  
  <title>Lista de equipos</title>

  <script>
        function cambiarForm() {
      var form1 = document.getElementById("tablaJugadores");
      var form2 = document.getElementById("agregarJugadores");
      
      if (form1.style.display === "none") {
        form1.style.display = "block";
        form2.style.display = "none";
      } else {
        form1.style.display = "none";
        form2.style.display = "block";
      }
    }
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('inicio') }}">VolleyScore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{{ url_for('jugadores') }}">Jugadores</a>
          <a class="nav-link" href="{{ url_for('listaDeEquipos') }}">Lista de Equipos</a>
          <a class="nav-link" href="#">Salir</a>
        </div>
      </div>
    </div>
  </nav>

  <h1>Equipo: "{{nombreEquipo}}"</h1>
  <div class="container">
    <div class="table-container" id = "tablaJugadores">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Jugadores</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope ="col"></th>
          </tr>
        </thead>
        <tbody>
          {%for jugador in listaJugadores%}
          <tr>
            <td>{{ jugador[1] }}</td>
            <td>
              <form action="{{url_for('borrarEquipoJugador',jugador_id=jugador[0])}}" method="post">
                <button type="submit">Eliminar</button>
              </form>
            </td>
          </tr>
          

          
          {% endfor %}
          <tr>
            <td colspan="3" class="text-left">
              <button onclick="cambiarForm()" name="agregar Jugador"  class="btn btn-primary"> <a class="nav-link" >Agregar Jugadores</a></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container" style="display:none" id = "agregarJugadores">
        <form action="{{ url_for('agregarJugadores', equipo_id=equipo_id) }}" method="post">
            <h1>Selecciona jugadores para agregar al Equipo</h1>
            <p>(Si agregas un jugador que ya pertenecía a otro equipo, se cambiará a este)</p>
            
            <!-- Loop through jugadoresDisponibles and create a checkbox for each player -->
            {% for jugador in jugadoresDisponibles %}
            <div>
                <label>
                    <input type="checkbox" name="jugadores_seleccionados" value="{{jugador[0]}}">
                    {{jugador[1]}}
                </label>
            </div>
            {% endfor %}
            
            <button type="submit">Agregar</button>
        </form>
        
    <button onclick="cambiarForm()">Cancelar</button>
</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
