@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* Estilos para computadora */
@media only screen and (min-width: 992px) {
  body {
    padding-top: 0; /* Ajusta el espacio para el navbar fijo en la parte superior */
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 991px) {
  body {
    padding-top: 0; /* Ajusta el espacio para el navbar fijo en la parte superior */
  }
}

.navbar {
  background-color: #f9f8fa;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #555;
}

@media only screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  body {
    padding-top: 0; /* Ajusta el espacio para el navbar fijo en la parte superior */
    
  }

  .navbar-toggler {
    background-color: #333;
    border-color: #333;
  }

  .navbar-toggler-icon {
    background-color: #fff;
  }

  .navbar-collapse {
    background-color: #f8f9fa;
    padding: 10px;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
}

/* Agregar imagen */
.jumbotron {
  background-image: url("../archivos/lob.jpg");
  background: url("../archivos/lob.jpg");
  background-size: cover;
  background-position: center;
  color: floralwhite;
  text-align: center;
  padding: 100px 0;
}

.jumbotron h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  background: transparent;
  border: 2px solid rgb(255, 247, 247);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron p {
  font-size: 24px;
  margin-bottom: 30px;
  background: transparent;
  border: 2px solid rgb(255, 247, 247);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .btn {
  font-size: 20px;
  padding: 12px 30px;
  background: transparent;
  border: 2px solid rgb(255, 247, 247);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
